@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');
:root{
    --font-principal: 'Raleway', sans-serif;
    --font-secundario: 'Open Sans', sans-serif;
    --blue: #3165f9;
    --white: white;
    --dark: #04002D;
    --dark-blue: #07043b;
    --silver: #F9F8FE;
    --dark-silver: #575989;
    --green: #51998D;
}

.hero{
    max-width: 1440px;
    margin: 50px auto 0 auto;
    /* padding: 0 2%; */
    height: 50px;
    display: flex;
    /* place-content:center space-between; */
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}
.hero-img{
    padding-left: 2%;
}
.hero-nav{
    padding-right: 2%;
}

.hero-nav ul{
    display: flex;
    width: 100%;
    gap: 4em;
    
    /* background-color: yellow; */
}
.hero-nav ul li{
    list-style: none;
}
.hero-nav ul li a{
    color: var(--dark);
    font-size: 1.5rem;
    text-decoration: none;
    font-family: var(--font-principal);
}

@media screen and (max-width: 690px){
   
    .hero-nav ul li a{
        font-size: 1.2rem;
    }
    .hero-img{
        width: 110px;
        height: 40px;
    }
    .hero-nav ul{
        gap: 2em;
    }
    
}

@media screen and (max-width: 490px){
    .hero{
        margin: 20px auto;
    }
    
    .hero-nav ul li a{
        font-size: 1rem;
    }
    .hero-img{
        width: 90px;
        height: 30px;
    }
    .hero-nav ul{
        gap: 0.9em;
    }
}